Repository chrisachoo/baka: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint, eslint --fix, prettier --write

Refactor lint-staged configuration to include stylelint for CSS and ensure consistent formatting across file types
  package.json
Due: prettier --write

Update documentation and improve .gitignore for VitePress; add Git shortcuts script
  .gitignore
  .vitepress/config.mts
  src/introduction.md
  src/scripts.md
Due: prettier --list-different

Enhance Baka with new Git shortcuts, improved documentation, and modular workflows
  .vitepress/config.mts
  blob/scripts/baka.sh
  src/aliases.md
  src/configuration.md
  src/contributing/code-of-conduct.md
  src/contributing/guideline.md
  src/docs.md
  src/features.md
  src/git-workflows.md
  src/index.md
  src/quick-start.md
  src/scripts.md
  src/workflows.md
Due: prettier --list-different

Enhance Baka with new Git shortcuts, improved documentation, and modular workflows (#2)
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.yml
  .vitepress/config.mts
  blob/scripts/baka.sh
  package.json
  src/aliases.md
  src/configuration.md
  src/contributing/code-of-conduct.md
  src/contributing/guideline.md
  src/docs.md
  src/features.md
  src/git-workflows.md
  src/index.md
  src/introduction.md
  src/quick-start.md
  src/scripts.md
  src/workflows.md
Due: prettier --list-different, prettier --write

Add Code of Conduct, Contribution Guidelines, and Issue/Pull Request Templates
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .vitepress/config.mts
  src/contributing.md
  src/features.md
Due: prettier --list-different

Remove Code of Conduct and Contributing Guidelines documents
  src/contributing/code-of-conduct.md
  src/contributing/guideline.md
Due: prettier --list-different

Update ESLint configuration to ignore additional documentation files
  eslint.config.mjs
Due: none

Add Code of Conduct, Contribution Guidelines, and Issue/Pull Request Templates (#3)
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .vitepress/config.mts
  eslint.config.mjs
  src/contributing.md
  src/features.md
Due: prettier --list-different

Update README.md
  README.md
Due: prettier --list-different

Path conditions:
  prettier --list-different: ((any of: *.js) or (any of: *.md)) or (any of: *.ts)
  eslint: (any of: *.js) or (any of: *.ts)
  eslint --fix: (any of: *.js) or (any of: *.ts)
  prettier --write: any of: *.json
